#top-menu {
  position: absolute;
  width: calc(100% - 16px);
  height: 36px;
  padding: 8px;
  background-color: var(--palette-primary_dark-20);

  display: flex;
  z-index: 50;
}

.list-item-icon-polygon {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 14px solid hsl(259, 70%, 70%);
}
