* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

ul {
  margin-left: 4px;
}
ul li {
  margin-left: 4px;
}

button {
  border: none;
  border-radius: 2px;
  padding: 2px 4px;
}
button:hover {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.ml-4 { margin-left: 4px; }
.mb-8 { margin-bottom: 8px; }

#stage {
  position: fixed;
  z-index: -1;
}
