#bottom-menu {
  position: absolute;
  bottom: 0;
  width: calc(100% - 16px);
  height: 24px;
  padding: 8px;
  background-color: rgba(25, 117, 210, 0.2);

  display: flex;
  align-items: center;
}
#bottom-menu:focus {
  outline: none;
}

/* use this when not fouced, maybe? */
/* outline: 1px solid rgba(0, 0, 0, 0.3); */
#bottom-menu-outliner-1 {
  position: absolute;
  top: -1px;
  left: 0px;
  right: calc(36px + 72px + 1px);
  border-top: 1px solid rgba(25, 117, 210, 0.8);
}
#bottom-menu-outliner-2 {
  position: absolute;
  top: -21px;
  right: 35px;
  height: 20px;
  width: 72px;
  border-radius: 5px 5px 0 0;

  border-top: 1px solid rgba(25, 117, 210, 0.8);
  border-right: 1px solid rgba(25, 117, 210, 0.8);
  border-left: 1px solid rgba(25, 117, 210, 0.8);
}
#bottom-menu-outliner-3 {
  position: absolute;
  top: -1px;
  left: calc(100% - 36px + 1px);
  right: 0px;
  border-top: 1px solid rgba(25, 117, 210, 0.8);
}

#bottom-menu-tab {
  position: absolute;
  z-index: 50;
  top: -20px;
  right: 36px;
  height: 20px;
  width: 72px;
  border: none;
  border-radius: 4px 4px 0 0;
  background-color: rgba(25, 117, 210, 0.2);
  color: white;
}
#bottom-menu-tab:hover {
  background-color: rgba(25, 117, 210, 0.3);
}

#play-controls {
  width: 84px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.play-button {
  font-size: 16px;
  width: 24px;
  height: 24px;
  background-color: #96a5b3;
  border: 1px solid #96a5b3;
  color: black;
}
.play-button:hover {
  background-color: rgba(25, 117, 210, 0.5);
  border-color: rgba(25, 117, 210, 1);
  color: white;
}
.jump-button {
  font-size: 16px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jump-button:hover {
  background-color: rgba(25, 117, 210, 0.5);
}

#timeline-container {
  height: 24px;
  flex-grow: 1;
  margin-left: 8px;
}

#timeline-tick-container {
  margin-top: 8px;
  height: 16px;
  border-left: 1px solid rgba(25, 117, 210, 0.5);

  display: flex;
  align-items: end;
}
.timeline-tick {
  height: 50%;
  flex-grow: 1;
  border-bottom: 1px solid rgba(25, 117, 210, 0.5);
  border-right: 1px solid rgba(25, 117, 210, 0.5);
}
.timeline-tick-leftover {
  border-right: none;
  flex-grow: 0;
}

#playhead-canvas {
  position: absolute;
  top: 7px;
}

.font-12 {
  font-size: 12px;
}

#frame-ticker {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

#play-mode-button {
  font-size: 8px;
  line-height: 8px;
  width: 36px;
  height: 18px;
  border: none;
  font-weight: 900;
  color: rgb(190, 200, 220);
  margin-top: 1px;
  align-items: center;
}
#play-mode-button:hover,
#play-mode-button:active {
  color: white;
}
