/* Add this to the stack last so that it has highest priority */

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.ml-4 { margin-left: 4px; }
.mb-8 { margin-bottom: 8px; }

.font-12 { font-size: 12px; }
.font-14 { font-size: 14px; }
