#left-menu-container {
  height: 100%;
}

#left-menu {
  position: absolute;
  width: 200px;

  /* 16 for own padding,
   * 72 for top and bottom bar
   * 8*4 padding for top and bottom bar
   */
  height: calc(100% - 16px - 72px - 32px - 12vh);
  margin-top: calc(36px + 8px + 8px + 6vh);

  padding: 8px;
  background-color: rgba(25, 117, 210, 0.2);
  border-radius: 0 4px 4px 0;

  display: flex;
  flex-direction: column;
}
@media (max-height: 700px) {
  #left-menu {
    height: calc(100% - 16px - 72px - 32px - 6vh);
    margin-top: calc(36px + 8px + 8px + 3vh);
  }
}
@media (max-height: 600px) {
  #left-menu {
    height: calc(100% - 16px - 72px - 32px - 2px);
    margin-top: calc(36px + 8px + 8px);
    border-radius: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.left-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px 4px 8px;
  border-radius: 4px;
}
.left-menu-item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}
.left-menu-item-selected {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(33, 33, 33)
}
.left-menu-item-selected:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.general-button {
  padding-left: 6px;
  padding-right: 6px;
  font-size: 10px;
  line-height: 16px;
}
.general-button:hover {
  background-color: rgba(33, 150, 243, 0.5);
}
.general-button-selected {
  background-color: #96a5b3;
}

#left-menu-action-bottom {
  display: flex;
  justify-content: space-between;
}
.left-menu-action-button {
  height: 22px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-menu-action-button:disabled {
  border-color: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.15);
}
.left-menu-action-button:disabled:hover {
  background-color: transparent;
  cursor: not-allowed;
}
.percentage-text {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 10px;
}
