#left-menu-container {
  height: 100%;
}

#left-menu {
  position: absolute;
  width: 200px;

  /* 16 for own padding,
   * 72 for top and bottom bar
   * 8*4 padding for top and bottom bar
   */
  height: calc(100% - 16px - 72px - 32px - 12vh);
  margin-top: calc(36px + 8px + 8px + 6vh);

  padding: 8px;
  background-color: var(--palette-primary_dark-20);
  border-radius: 0 4px 4px 0;

  display: flex;
  flex-direction: column;
}
@media (max-height: 700px) {
  #left-menu {
    height: calc(100% - 16px - 72px - 32px - 6vh);
    margin-top: calc(36px + 8px + 8px + 3vh);
  }
}
@media (max-height: 600px) {
  #left-menu {
    height: calc(100% - 16px - 72px - 32px - 2px);
    margin-top: calc(36px + 8px + 8px);
    border-radius: 0;
    border-top: 1px solid var(--palette-action-hover);
    border-bottom: 1px solid var(--palette-action-hover);
  }
}

#left-menu-header {
  display: flex;
  margin-bottom: 8px;
}

.left-menu-item {
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
}
.left-menu-item-hovered,
.left-menu-item:hover {
  cursor: pointer;
  background-color: var(--palette-action-hover);
}
.left-menu-item-name {
  font-size: 14px;
  line-height: 14px;
}
.left-menu-item-selected {
  background-color: var(--palette-action-selected);
  color: var(--palette-text-secondary);
}
.left-menu-item-selected:hover {
  background-color: var(--palette-action-selected);
}

.left-menu-item-container {
  padding: 0;
  margin-left: 0;
  background-color: inherit;
}
.left-menu-item-container:hover {
  background-color: inherit;
}
.left-menu-container-dropwdown {
  padding: 4px 2px 4px 2px;
  border-radius: 4px 0px 0px 4px;
  margin-right: 2px;
}
.left-menu-container-dropwdown:hover {
  background-color: var(--palette-action-hover);
}
.left-menu-container-dropwdown:active {
  background-color: var(--palette-action-active);
}
.left-menu-container-dropwdown-text {
  transform: scale(.5, 1);
  width: 10px;
  font-size: 14px;
  line-height: 14px;
}
.left-menu-container-dropwdown-text.open {
  transform: translate(1px, 1px) scale(1, .5) rotate(90deg);
}
.left-menu-item-container-name {
  flex-grow: 1;
  padding: 4px 4px 4px 4px;
  border-radius: 0px 4px 4px 0px;
}
.left-menu-item-container-name:hover {
  background-color: var(--palette-action-hover);
}
.left-menu-item-selected > .left-menu-item-container-name {
  background-color: var(--palette-action-selected);
}
.left-menu-item-selected > div > .left-menu-container-dropwdown-text {
  color: white;
}

#left-menu-action-bottom {
  display: flex;
  justify-content: space-between;
}
.left-menu-action-button {
  height: 22px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: transparent;
  color: var(--palette-text-main_tinted_primary);
  border: 1px solid var(--palette-text-main_tinted_primary);
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-menu-action-button:active,
.left-menu-action-button:hover {
  background-color: var(--palette-primary_dark-50);
  color: var(--palette-text-main);
  border: 1px solid var(--palette-text-main);
}
.left-menu-action-button:disabled {
  border-color: var(--palette-action-disabled);
  color: var(--palette-action-disabled);
}
.left-menu-action-button:disabled:hover {
  background-color: transparent;
  cursor: not-allowed;
}
.percentage-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: 10px;
  width: 32px;
}
