#property-editor-container {
  position: absolute;
  width: 240px;
  height: 32px;
  padding: 8px;

  /* values tbd, not variables yet */
  background-color: rgb(33, 50, 72);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 10px 3px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
