#top-menu {
  position: absolute;
  width: calc(100% - 16px);
  height: 36px;
  padding: 8px;
  background-color: rgba(25, 117, 210, 0.2);

  display: flex;
  z-index: 50;
}

.top-menu-item {
  display: flex;
  align-items: center;
  padding: 4px 16px 4px 16px;
  border-radius: 4px;
  color: white;
  background-color: transparent;
  font-size: 14px;
  line-height: 14px;
  z-index: 60;
}
.top-menu-item:not(:last-child) {
  margin-right: 8px;
}

.top-menu-item-button {
  font-weight: 700;
}
.top-menu-item-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}
.top-menu-item-button:active {
  cursor: pointer;
  background-color: rgba(33, 150, 243, 0.9);
}

.unicode-icon {
  font-size: 20px;
  line-height: 0;
  margin-right: 8px;
}

.pb-3 {
  padding-bottom: 3px;
}

.autosave-text {
  font-size: 10px;
  line-height: 10px;
  margin-right: 16px;
}
.autosave-icon {
  background-color: #4BB543;
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 500ms;
}

.icon-bg-grey {
  background-color: #767676; 
}

.icon-bg-warning {
  background-color: #FFC107; 
  color: #333333;
  font-size: 14px;
}

.icon-spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.dialog-menu {
  position: absolute;
  top: calc(36px + 4px);
  left: 0;
  min-width: 200px;

  border-radius: 4px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(33, 33, 33, 1);
  color: #333333;

  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 100;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px -2px,
    rgba(0, 0, 0, 0.21) 0px 3px 6px 0px,
    rgba(0, 0, 0, 0.18) 0px 1px 10px 0px;
}

.dialog-backdrop {
  position: absolute;
  top: -8px;
  left: -8px;
  width: 120px;
  height: 64px;
  z-index: -10;
}


.insert-menu-list-item {
  display: flex;
  align-items: center;
  justify-content: start;
  width: calc(100%);
  height: 36px;
  padding: 4px 0;
}
.insert-menu-list-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.insert-menu-list-item-icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.insert-menu-list-item-label {
  flex-grow: 1;
  text-align: start;
  font-weight: normal;
  color: rgb(240, 240, 240);
  margin-left: 8px;
}
.insert-menu-list-item-hotkey {
  color: rgb(70, 70, 70);
  min-width: 36px;
}

.list-item-icon-container {
  width: 20px;
  height: 20px;
  border: 3px dashed rgba(140, 140, 140);
}

.list-item-icon-rectangle {
  width: 20px;
  height: 20px;
  background-color: hsl(335, 70%, 70%);
}

.list-item-icon-ellipse {
  width: 22px;
  height: 22px;
  border-radius: 20px;
  background-color: hsl(182, 70%, 70%);
}

.list-item-icon-text {
  width: 22px;
  height: 20px;
  margin-left: 2px;
  border-bottom: 2px solid rgb(200, 200, 200);
}
.list-item-icon-text:before {
  content: "T";
  position: relative;
  top: 6px;
  left: -4px;

  font-size: 24px;
  line-height: 0;
  color: rgb(200, 200, 200);
  font-family: serif;
}

.list-item-icon-polygon {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 16px solid hsl(259, 70%, 70%);
}

.list-item-icon-line {
  width: 18px;
  height: 18px;
  background: linear-gradient(to top right,
             rgba(0,0,0,0) 0%,
             rgba(0,0,0,0) calc(50% - 1.6px),
             rgb(200,200,200) calc(50% - 1.5px),
             rgb(200,200,200) 50%,
             rgb(200,200,200) calc(50% + 1.5px),
             rgba(0,0,0,0) calc(50% + 1.6px),
             rgba(0,0,0,0) 100%)
}
