name: Update Font Data

on:
  workflow_dispatch:
  # schedule:
    # - cron: '0 18 1 * *' # Once a month
    # This no longer provides value as the upstream Repo has not been updated in 2 years.
    # TODO: I should make my own font-screenshotting service

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: production
      GOOGLE_FONTS_API_KEY: '${{ secrets.GOOGLE_FONTS_API_KEY }}'
    steps:
      - uses: actions/checkout@v4
      - run: npm ci
      - run: npm run update-fonts
      - name: Set env
        run: echo "COMMIT_MESSAGE=Updated Fonts for $(date +%B-%Y)" >> $GITHUB_ENV
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          branch: update-fonts
          title: '[patch] ${{ env.COMMIT_MESSAGE }}'
          commit-message: ${{ env.COMMIT_MESSAGE }}
